<template>
    <div id="education">
        <div class="row subtitle" >Education</div>
        <div class="row education ">
            <div class="col-3 d-flex  education align-items-center">
                <div class="col-sm-6">
                    <img src="images/njupt.jpeg" class="rounded-0" style=" width: 200%;height: auto;" alt="...">
                </div>
            </div>
            <div class="col-9">
                <p class="school"><b>Sept. 2017 - Jun. 2021</b>, Computer Science Department,
                    <i style="font-weight: bolder;font-family: 'Apple SD Gothic Neo'">Nanjing University of Posts and Telecommunications</i></p>
                <p class="school">Bachelor of Science, Computer Science. (with hornors)</p>
            </div>
        </div>
        <div class="row education ">
            <div class="col-3 d-flex  education align-items-center">
                <div class="col-sm-6">
                    <img src="images/first_high_school_changsha.jpg" class="rounded-0" style="width: 200%;height: auto;" alt="...">
                </div>
            </div>
            <div class="col-9 align-items-center">
                <p class="school"><b>Sept. 2014 - Jul. 2017</b>,
                    <i style="font-weight: bolder;font-family: 'Apple SD Gothic Neo'">The First High School of Changsha，Hunan</i></p>
            </div>
        </div>
    </div>
</template>
