<template>
  <div id="experience">
    <div class="row subtitle">Experience</div>
    <div class="row experience ">
      <div class="col-lg-3 d-flex align-items-center">
        <img src="demo/deebrain.gif" class="rounded-0" width=100%  alt="...">
      </div>
      <div class="col-lg-9">
        <p class="school">
          <b>Intelligent diagnosis of 3D medical images</b>, Jul. 2019 - Aug. 2019 <br>
          DeeCamp Summer Internship in <i style="font-weight: bolder;font-family: 'Apple SD Gothic Neo'"> Sinovation Ventures AI Institute</i>
          <br>QingXing Li, Fei Wang, Tao Song, Yu Liang , <b>Yanbai He</b>, Kongya Zhao, Yuanfang Qiao,
          Yuanzhe Li, Zhiming Hao, Kaixiang Lin, Jiequn Xu(Designer)
          <br><b>Best Engineering Award</b>
          <br><a href="https://github.com/michaelliqx/Deecamp-MRI-Segmentation" class="btn-link">[code]</a>
        <p class="school">
          We use machine learning techniques to label glioma in brain MR images, predict patient’s life span and
          visualize tumor regions in 3D with a pathology report.
        </p>
        </p>
      </div>
    </div>
  </div>
</template>
