<template>
  <div id="internship">
    <div class="row subtitle">Internship</div>
    <div class="row internship ">
      <div class="col-3 d-flex education align-items-center">
        <div class="col-sm-6">
          <img src="images/tusimple-logo-CN-Black.svg" class="rounded-0" style="width: 200%;height: auto;" alt="...">
        </div>
      </div>
      <div class="col-9">
        <p class="school"><b>Apr. 2021 - Jul. 2021</b>, Hardware Integration Group,
          <i style="font-weight: bolder;font-family: 'Apple SD Gothic Neo'">TuSimple</i></p>
        <p class="school">Software Development Intern.</p>
      </div>
    </div>

    <div class="row internship ">
      <div class="col-3 d-flex education align-items-center">
        <div class="col-sm-6">
          <img src="images/of3d_logo.png" class="rounded-0" style="width: 200%;height: auto;" alt="...">
        </div>
      </div>
      <div class="col-9">
        <p class="school"><b>Oct. 2020 - Apr. 2021</b>, R&D Department,
          <i style="font-weight: bolder;font-family: 'Apple SD Gothic Neo'">Original Force 3D Animation</i></p>
        <p class="school">Research & Development Intern.</p>
      </div>
    </div>
  </div>
</template>
